.input-1 {
    background-color: white;
    border-radius: 20px;
    width:300px;
    height: 50px;
    margin-bottom: 10px;
}

.input-2 {
    background-color: white;
    border-radius: 20px;
    height: 200px;
}

.input-3 {
    background-color: white;
    border: 2px solid white;
    border-radius: 10px;
}

.left-spacing-1 {
    font-size:18px;
    font-weight: solid;
    margin-left: 200px;
}

.left-spacing-2 {
    margin-left: 370px;
}

.tags {
    padding: 200px;
}

.my_pagination {
    max-width: 300px;
    margin: 0 auto;
}

.list-pages {
    text-align: center;
    margin: 0 0 20px 0;
}
.list-pages ul {
    margin: 20px 0 0 0;
    padding: 0;
    list-style: none;
}
.list-pages ul li {
    display: inline-block;
    margin: 0 20px 0 0;
}
.list-pages a {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
}
.list-pages .page-num, .page-num-selected {
    display: inline-block;
    width: 60px;
    height: 44px;
    padding: 16px 0 0 0;
    border: 1px solid #d0d0d0;
    border-radius: 30px;
}
.list-pages .page-num:hover {
    box-shadow: 3px 3px 1px #d0d0d0;
}
.list-pages .page-num-selected {
    border: none;
    color: #000;
    font-size: 20px;
}
.list-pages .page-num-selected:hover {
    box-shadow: none;
}




