main > .container {
  padding: 60px 15px 0;
}

body {
    background-color: #187e80;
}

.question {
    border: 10px solid dark;
    background-color: #f2f3ff;
    border-radius: 20px;
    margin: 20px -2px;
    padding: 10px;
}

.avatar-question {
    width: 150px;
    height: 150px;
}

.my_border {
    border: 2rem solid white;
    border-width: 3px;
    border-radius: 20px;
    background-color: #948f8f;
}

#member {
    text-align:center;
}

#my_button {
    border: 2rem solid white;
    border-width: 3px;
    border-radius: 20px;
    background-color: #3b0c0c;
}

#my_button1 {
    border: 2rem solid white;
    border-width: 3px;
    border-radius: 20px;
    background-color: #3b0c0c;
}

#my_button2 {
    border: 2rem solid white;
    border-width: 3px;
    border-radius: 20px;
    background-color: #3b0c0c;
}

#my_button3 {
    border: 2rem solid white;
    border-width: 3px;
    border-radius: 20px;
    background-color: #3b0c0c;
}
