{% extends "inc/base.html" %}
{% load static %}

{% block forms %}
     <a class="m-1" href="{% url "settings" %}"><img class="user-avatar" src="{% static "img/kot.png" %}"></a>
{% endblock %}


{% block content %}
<div class="container-fluid">
    <h2 class="mt-4 text-left pb-2 pt-2">New Question</h2>
    <form>
        <div class="m-2">
            <div class="question-textarea-title">
                <label for="QuestionTitle" class="form-label зl-2"><h4>Question title</h4></label>
                <div>
                    <input type="text" class="form-control" pattern="[A-z]{1,100}" id="QuestionTitle" aria-describedby="QuestionTitle">
                </div>
                <div class="form-text text-dark"><h6>Input title of your question</h6></div>
            </div>

            <div class="mb-3 question-textarea-text text-start">
                <label for="exampleFormControlTextarea1" class="form-label"><h4>Question</h4></label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>

            <label for="QuestionTags" class="form-label"><h4>Tags</h4></label>
            <input type="text" pattern="[A-z]{1,30}" class="form-control question-textarea-tags" id="QestionTags" aria-describedby="QestionTags">

            <div class="mb-2 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Notify me of responses by mail</label>
            </div>

            <button type="submit" class="btn btn-dark">Create question</button>
        </div>
    </form>
</div>
{% endblock %}

{% block side_panel %}
<div class="container-fluid mb-4 offset-md-1">
    <div class="d-flex flex-row mt-4 ">
        <h2 class = "col-md-12 offset-sm-1 my_border w-80 text-center pb-2 pt-2">Popular Tags</h2>
    </div>

    {% for tag in index_content.1 %}
        {% include "inc/tags.html" %}
    {% endfor %}

    <div class="d-flex flex-row">
        <h2 class = "col-md-12 offset-sm-1 my_border w-80 text-center pb-2 pt-2">Best members</h2>
    </div>

    {% for member in index_content.2 %}
        {% include "inc/members.html" %}
    {% endfor %}
</div>
{% endblock %}