{% extends "inc/base.html" %}

{% block forms %}
    <a href= "{% url "login" %}" class="m-1 btn btn-outline-secondary log-in-btn">Log in</a>
    <a href= "{% url "registration" %}" class="m-1 btn btn-outline-secondary">Sign up</a>
{% endblock %}

{% block content %}
    <h2 class="mt-4 my_border pb-2 pt-2">Questions</h2>
    {% for question in index_content.0 %}
        {% include "inc/question.html" %}
    {% endfor %}
    <div class="container">
          <div class="d-flex flex-row paginator mt-4">
            <div class="btn btn-outline-dark">1</div>
            <a class="btn btn-outline-dark" href="/<link>" rel="" title="Go to page 2">2</a>
            <a class="btn btn-outline-dark" href="/<link>" rel="" title="Go to page 3">3</a>
            <a class="btn btn-outline-dark" href="/<link>" rel="" title="Go to page 4">4</a>
            <span class="fs-2"> ...</span>
            <a class="btn btn-outline-dark" href="/<link>" rel="" title="Go to page 50703">555</a>
            <a class="btn btn-outline-dark" href="/<link>" rel="next" title="Go to page 2"> Next</a>
          </div>
    </div>
{% endblock %}

{% block side_panel %}
<div class="container-fluid offset-md-1">
    <div class="d-flex flex-row mt-4 ">
        <h2 class = "col-md-12 offset-sm-1 my_border w-80 text-center pb-2 pt-2">Popular Tags</h2>
    </div>

    {% for tag in index_content.1 %}
        {% include "inc/tags.html" %}
    {% endfor %}

    <div class="d-flex flex-row">
        <h2 class = "col-md-12 offset-sm-1 my_border w-80 text-center pb-2 pt-2">Best members</h2>
    </div>

    {% for member in index_content.2 %}
        {% include "inc/members.html" %}
    {% endfor %}


</div>
{% endblock %}

