{% extends "inc/base.html" %}
{% load static %}

{% block content %}
    <h2 class="mt-4">Questions</h2>
    {% for question in questions %}
        {% include "inc/question.html" %}
    {% endfor %}
{% endblock %}

{% block side_panel %}
<div class="container-fluid">
    <div id="popular_tags" class="d-flex flex-row mt-4">
        <h2>Popular Tags</h2>
    </div>
    {% include "tags.html" %}
    {% include "tags.html" %}
    {% include "tags.html" %}

    <div class="d-flex flex-row ">
        <h2 class = "col-md-12 offset-md-3">Best members</h2>
    </div>
</div>
{% endblock %}