{% extends "inc/base.html" %}
{% load static %}

{% block forms %}
    <a href= "{% url "login" %}" class="m-1 btn btn-outline-secondary log-in-btn">Log in</a>
    <a href= "{% url "registration" %}" class="m-1 btn btn-outline-secondary">Sign up</a>
{% endblock %}

{% block content %}
    <h2 class="mt-5">Question</h2>
    {% include "inc/question.html" %}
    <hr class="answer-hr">
    <h3><a href="{% url "index" %}" class="text-decoration-none text-dark">2 answers</a></h3>
    <div class="row answer-best">

        <div class="col-2">
            <img class="avatar-question" src="img/1.jpg" alt="">
            <div class="btn answer-best-check">
                <svg xmlns="http://www.w3.org/2000/svg" width="72" height="72" fill="green" class="bi bi-check" viewBox="0 0 16 16">
                  <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"></path>
                </svg>
            </div>

            </div>
            <div class="col-10">
              <p class="answer-text">Do it. Just do it. Don't let your dreams be dreams. Yesterday, you said tomorrow.
                So just do it. Make your dreams come true. Just do it. Some people dream of success, while you're gonna
                wake up and work hard at it. Nothing is impossible. You should get to the point where anyone else would
                quit, and you're not gonna stop there. No, what are you waiting for? Do it! Just do it! Yes you can.
                Just do it.</p>
            </div>

            <div class="row">
              <div class="col-3">
                <div class="btn likes-buttons">
                  <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-chevron-double-up" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M7.646 2.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 3.707 2.354 9.354a.5.5 0 1 1-.708-.708l6-6z"></path>
                    <path fill-rule="evenodd" d="M7.646 6.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 7.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"></path>
                  </svg>
                </div>

                <span class="text-success">25</span>

                <div class="btn likes-buttons">
                  <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-chevron-double-down" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1.646 6.646a.5.5 0 0 1 .708 0L8 12.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"></path>
                    <path fill-rule="evenodd" d="M1.646 2.646a.5.5 0 0 1 .708 0L8 8.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"></path>
                  </svg>
                </div>
                <span class="text-danger">13</span>

              </div>

              <div class="col-4 btn author-label-best">
                <span>
                  <p> <b>Author:</b>&nbsp; <a href="userpage.html">user@mail.ru</a> </p>
                </span>
              </div>

              <div class="col-5">
                <div class="container">
                  <a class="btn"> <b>Tags:</b></a>
                  <a href="index.html" class="btn btn-link">Tag1</a>
                  <a href="index.html" class="btn btn-link">Tag2</a>
                  <a href="index.html" class="btn btn-link">Tag3</a>
                </div>
              </div>
            </div>

        <div class="row answer">
            <div class="col-2">
              <img class="avatar-question" src="img/5.jpg" alt="">

              <!-- <a class="btn"> <b>votes :</b>&nbsp 10</a>
              <a class="btn btn-outline-success"> <b>answers:</b>&nbsp 5</a>
              <a class="btn"> <b>views:</b>&nbsp 75</a> -->

            </div>
            <div class="col-10">
              <!-- <h3><a href="question.html" class="text-dark answer-text">Question 3</a></h3> -->
              <p class="answer-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap
                into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing
                software like Aldus PageMaker including versions of Lorem Ipsum</p>
            </div>

            <div class="row">
              <div class="col-3">
                <div class="btn likes-buttons">
                  <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-chevron-double-up" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M7.646 2.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 3.707 2.354 9.354a.5.5 0 1 1-.708-.708l6-6z"></path>
                    <path fill-rule="evenodd" d="M7.646 6.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 7.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z"></path>
                  </svg>
                </div>

                <span class="text-success">25</span>

                <div class="btn likes-buttons">
                  <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-chevron-double-down" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1.646 6.646a.5.5 0 0 1 .708 0L8 12.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"></path>
                    <path fill-rule="evenodd" d="M1.646 2.646a.5.5 0 0 1 .708 0L8 8.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z"></path>
                  </svg>
                </div>
                <span class="text-danger">13</span>

              </div>

              <div class="col-4 btn author-label-answer">
                <span>
                  <p> <b>Author:</b>&nbsp; <a href="userpage.html">user@mail.ru</a> </p>
                </span>
              </div>

              <div class="col-5">
                <div class="container">
                  <a class="btn answer-tags"> <b>Tags:</b></a>
                  <a href="index.html" class="btn btn-link">Tag1</a>
                  <a href="index.html" class="btn btn-link">Tag2</a>
                  <a href="index.html" class="btn btn-link">Tag3</a>
                </div>

              </div>

            </div>
          </div>
    </div>

    <hr class="answer-hr">

<form>
            <div class="mb-3 question-textarea-text">
              <label for="exampleFormControlTextarea1" class="form-label">Your answer</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
            </div>

            <!-- <label for="QuestionTags" class="form-label">Tags</label>
            <input type="text" pattern="[A-z]{1,30}" class="form-control question-textarea-tags" id="QestionTags"
                aria-describedby="QestionTags"> -->

            <div class="mb-3 form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Notify me of responses by mail</label>
            </div>
            <button type="submit" class="btn btn-primary mb-5">Post your answer</button>
</form>

{% endblock %}

{% block side_panel %}
<div class="container-fluid offset-md-1">
    <div class="d-flex flex-row mt-4 ">
        <h2 class = "col-md-12 offset-sm-1 my_border w-80 text-center pb-2 pt-2">Popular Tags</h2>
    </div>

    {% for tag in index_content.1 %}
        {% include "inc/tags.html" %}
    {% endfor %}

    <div class="d-flex flex-row">
        <h2 class = "col-md-12 offset-sm-1 my_border w-80 text-center pb-2 pt-2">Best members</h2>
    </div>

    {% for member in index_content.2 %}
        {% include "inc/members.html" %}
    {% endfor %}

</div>
{% endblock %}
