{% extends "inc/base.html" %}
{% load static %}

{% block forms %}
    <a href= "{% url "login" %}" class="m-1 btn btn-outline-secondary log-in-btn">Log in</a>
    <a href= "{% url "registration" %}" class="m-1 btn btn-outline-secondary">Sign up</a>
{% endblock %}

{% block content %}
    <h2 class="mt-5">Question</h2>
    {% include "inc/question.html" %}
    <hr class="answer-hr">
    <h3><a href="{% url "index" %}" class="text-decoration-none text-dark">2 answers</a></h3>
    {% include "inc/best_answer.html" %}

    {% include "inc/answer.html" %}

      <hr class="hr">
      <div class="container">
        <form>
          <div class="mb-3 question-textarea-text">
            <label for="exampleFormControlTextarea1" class="form-label">Your answer</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
          </div>

          <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Notify me of responses by mail</label>
          </div>
          <button type="submit" class="btn btn-primary mb-5">Post your answer</button>
        </form>
      </div>

{% endblock %}

{% block side_panel %}
<div class="container-fluid offset-md-1">
    <div class="d-flex flex-row mt-4 ">
        <h2 class = "col-md-12 offset-sm-1 my_border w-80 text-center pb-2 pt-2">Popular Tags</h2>
    </div>

    {% for tag in index_content.1 %}
        {% include "inc/tags.html" %}
    {% endfor %}

    <div class="d-flex flex-row">
        <h2 class = "col-md-12 offset-sm-1 my_border w-80 text-center pb-2 pt-2">Best members</h2>
    </div>

    {% for member in index_content.2 %}
        {% include "inc/members.html" %}
    {% endfor %}

</div>
{% endblock %}
