{% extends "inc/base.html" %}
{% load static %}

{% block forms %}
     <a class="m-1" href="{% url "settings" %}"><img class="user-avatar" src="img/kot.png"></a>
{% endblock %}


{% block content %}
    <div class="form-signin">

        <div class="row">

            <div class="col-md-4">
                <img class="mt-4 mb-4 img-thumbnail" src="img/logo.png" width="300" height="300">
            </div>

            <div class="col-md-4">
                <div class="row mt-5">
                    <div class="col-md-7 offset-md-1">
                        <h4>Email address:</h4>
                    </div>

                    <div class="col-md-1">
                        <h5> <b> example@mail.ru </b></h5>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-md-7 offset-md-1">
                        <h4>Nickname:</h4>
                    </div>

                    <div class="col-md-1">
                        <h5> <b> JailBot </b></h5>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-md-7 offset-md-1">
                        <h4>Registration date:</h4>
                    </div>

                    <div class="col-md-1">
                        <h5> <b> 01.01.2022 </b></h5>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-md-7 offset-md-1">
                        <h4>Gender:</h4>
                    </div>

                    <div class="col-md-1">
                        <h5> <b> Male </b></h5>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-md-7 offset-md-1">
                        <h4>Birth date:</h4>
                    </div>

                    <div class="col-md-1">
                        <h5> <b> 07.07.2007 </b></h5>
                    </div>
                </div>

                <div class="row mt-4">
                    <div class="col-md-7 offset-md-1">
                        <h4>New nickname:</h4>
                    </div>

                    <div class="col-md-1">
                        <form>
                            <div class="form-floating settings-nick-field">
                                <input type="text" class=" settings-nick-field form-control" id="floatingInputNick" placeholder="Terminator228">
                                    <label for="floatingInputNick">Nickname</label>
                            </div>

                            <div>
                                <button class="settings-nick-btn btn btn-lg btn-primary" type="submit">Accept changes</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <form>
            <label for="floatingInputAvatar"> <h5>Update avatar</h5> </label>
            <input required="" type="file" class=" log-in-fields" id="floatingInputAvatar">
            <br> <br> <br>
            <a href="{%url "index" %}" class="w-40 btn btn-lg btn-dark">Log out</a>
        </form>
    </div>
{% endblock %}

{% block side_panel %}
<div class="container-fluid offset-md-1">
    <div class="d-flex flex-row mt-4 ">
        <h2 class = "col-md-12 offset-sm-1 my_border w-80 text-center pb-2 pt-2">Popular Tags</h2>
    </div>

    {% for tag in index_content.1 %}
        {% include "inc/tags.html" %}
    {% endfor %}

    <div class="d-flex flex-row">
        <h2 class = "col-md-12 offset-sm-1 my_border w-80 text-center pb-2 pt-2">Best members</h2>
    </div>

    {% for member in index_content.2 %}
        {% include "inc/members.html" %}
    {% endfor %}
</div>
{% endblock %}