{% extends "inc/base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block forms %}
     <a class="m-1" href="{% url "settings" %}"><img class="user-avatar" src="{% static "img/kot.png" %}"></a>
{% endblock %}


{% block content %}
    <div class="container-fluid">
        <div class="d-flex flex-row mb-2 setting-help">

            <div class="col-md-4">
                <div class="d-flex flex-row mt-4">
                    <img class="mt-4 mb-4 img-thumbnail" src="{% static "img/kot.png" %}" width="300" height="300">
                </div>
                <div class="d-flex flex-row mt-3 offset-md-5"><h4><b>Zela</b></h4></div>
            </div>

            <div class="col-md-8 my_button3">
                <div class="d-flex flex-row mt-5 input">
                    <div class="col-md-6 offset-md-1">
                        <h4>Email address:</h4>
                    </div>

                    <div class="col-md-6 text-center">
                        {% if cur_question %}
                            <h5> <b> {{ cur_question.profile.user }} </b></h5>
                        {% else %}
                            <h5> <b> @user_email </b></h5>
                        {% endif %}
                    </div>
                </div>

                <div class="d-flex flex-row mt-4 input">
                    <div class="col-md-6 offset-md-1">
                        <h4>Nickname:</h4>
                    </div>

                    <div class="col-md-6 text-center">
                        <h5> <b> Zela </b></h5>
                    </div>
                </div>

                <div class="d-flex flex-row mt-4 input">
                    <div class="col-md-6 offset-md-1">
                        <h4>Registration date:</h4>
                    </div>

                    <div class="col-md-6 text-center">
                        <h5> <b> 01.01.2022 </b></h5>
                    </div>
                </div>

                <div class="d-flex flex-row mt-4 input">
                    <div class="col-md-6 offset-md-1">
                        <h4>Gender:</h4>
                    </div>

                    <div class="col-md-6 text-center">
                        <h5> <b> Male </b></h5>
                    </div>
                </div>

                <div class="d-flex flex-row mt-4 input">
                    <div class="col-md-6 offset-md-1">
                        <h4>Birth date:</h4>
                    </div>

                    <div class="col-md-6 text-center">
                        <h5> <b> 28.04.2000 </b></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <div class="container-fluid">
            <div class="d-flex flex-row mb-2">
                <h2>Change settings</h2>
            </div>
        </div>

        {% comment %} <form action="/settings/" method="POST" enctype="multipart/form-data">
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
              </div>
              <div class="mb-3">
                <label for="Nickname" class="form-label">Nickname</label>
                <input type="text" class="form-control" id="nickName">
              </div>
                <div class="mb-3">
                    <label for="registrationDate" class="form-label">Registration date</label>
                    <input type="text" class="form-control" id="registrationDate">
                </div>
                <div class="mb-3">
                    <label for="gender" class="form-label">Gender</label>
                    <input type="text" class="form-control" id="gender">
                </div>
                <div class="mb-3">
                    <label for="birthDate" class="form-label">Birth date</label>
                    <input type="text" class="form-control" id="birthDate">
                </div>
                <div class="mb-3">
                    <label for="newNickName" class="form-label">New NickName</label>
                    <input type="text" class="form-control" id="newNickname">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">New Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1">
                </div>
              <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
              </div>
                {% csrf_token %}
                {% bootstrap_form form %}

                {%if request.user.profile.avatar %}
                     <img src="{{ request.user.profile.avatar.url }}" width="100px">
                {% endif %}
              <button type="submit" class="btn btn-primary">Accept changes</button>
        </form> {% endcomment %}

        <form>
            <div class="container-fluid">
                <div class="d-flex flex-row mb-2">
                    <div class="col-md-2">
                        <label for="floatingInputAvatar"> <h5>Update avatar</h5> </label>
                    </div>
                    <div class="col-md-10">
                        <input required="" type="file" class="log-in-fields" id="floatingInputAvatar">
                    </div>
                </div>
                <div class="d-flex flex-row mb-4">
                    <a href="{% url "index" %}" class="w-40 btn btn-lg btn-dark">Log out</a>
                </div>
            </div>
        </form>

{% endblock %}

{% block side_panel %}
    {% include "inc/side_panel.html" %}
{% endblock %}