{% extends "inc/base.html" %}

{% block forms %}
     <a class="m-1" href="{% url "settings" %}"><img class="user-avatar" src="img/kot.png"></a>
{% endblock %}


{% block content %}

{% endblock %}

{% block side_panel %}
<div class="container-fluid offset-md-1">
    <div class="d-flex flex-row mt-4 ">
        <h2 class = "col-md-12 offset-sm-1 my_border w-80 text-center pb-2 pt-2">Popular Tags</h2>
    </div>

    {% for tag in index_content.1 %}
        {% include "inc/tags.html" %}
    {% endfor %}

    <div class="d-flex flex-row">
        <h2 class = "col-md-12 offset-sm-1 my_border w-80 text-center pb-2 pt-2">Best members</h2>
    </div>

    {% for member in index_content.2 %}
        {% include "inc/members.html" %}
    {% endfor %}
</div>
{% endblock %}