{% load static %}
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url "index" %}">KTotAMa</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url "ask" %}">New question</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">My questions</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-outline-secondary navbar-settings-btn" href="{% url "settings" %}">Settings</a>
          </li>
        </ul>
        <form class="d-flex search-input-autorise">
          <input class="form-control me-2" type="search" placeholder="Search..." aria-label="Search">
          <button class="btn btn-outline-success mr-10 navbar-autorised" type="submit">Search</button>
          <a href="{% url "logout" %}" class="btn btn-outline-secondary navbar-log-out-btn text-nowrap">Log out</a>
            <a href="{% url "settings" %}"><img class="user-avatar" src="{% static "img/bob.png" %}"></a>
        </form>
      </div>
    </div>
  </nav>