{% load static %}
<div class="container-fluid offset-md-1 mb-4">
    <div class="d-flex flex-row mt-4 mb-4">
        <h2 class = "col-md-12 offset-sm-1 my_border w-80 text-center pb-2 pt-2">Popular Tags</h2>
    </div>

    {% for tag in content.side_panel_tags %}
        {% include "inc/tags.html" %}
    {% endfor %}

    <div class="d-flex flex-row">
        <h2 class = "col-md-12 offset-sm-1 my_border w-80 text-center pb-2 pt-2">Best members</h2>
    </div>

    {% for member in content.active_users %}
        {% include "inc/members.html" %}
    {% endfor %}
</div>