<div class="d-flex flex-row align-items-center">
    <div class="col-md-4 m-md-2">
        <div class="h5 pl-2">
            <a href="#" style="color:black">
                <button type="button" class="btn btn-secondary btn-md" id="my_button">{{ tag.1 }}</button>
            </a></div>
    </div>
    <div class="col-md-4 m-md-3 offset-md-4">
        <div class="h5 pl-2">
            <a href="#" style="color:black">
                <button type="button" class="btn btn-secondary btn-md" id="my_button2">{{ tag.2 }}</button>
            </a>
        </div>
    </div>
    <div class="col-md-4 m-md-3 offset-md-4">
        <div class="h5 pl-2">
            <a href="#" style="color:black">
                <button type="button" class="btn btn-secondary btn-md" id="my_button3">{{ tag.3 }}</button>
            </a>
        </div>
    </div>
</div>
